<div class="container">
    <div class="content-container">
        <h2 class="heading">we are <span>pulsar.</span></h2>
        <div class="line"></div>
        <p>we are next gen stock simulation</p>
        <p>what would have happend if you bought tsla in 2017</p>
        <p>sign up and create unlimited portfolios</p>
        <p>what would have happend if you shorted wirecard</p>
        <p>realtime simulation of performances</p>
        <p class="find-out">find out. now.</p>
    </div>
</div>