.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-top: 40px;
    -webkit-box-shadow: 0px 0px 10px 5px #003f69;
            box-shadow: 0px 0px 10px 5px #003f69;
    border-radius: 20px;
    max-width: 700px;
    width: 80vw;
    height: 60vh;
    
    padding: 10px 0px;
    overflow: hidden;
}

.heading {
    color: #fdb44b;
    text-align: center;

}

.heading span {
    color: whitesmoke;
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
}

.line {
    width: 100%;
    border-bottom: #fdb44b 2px solid;
}


p {
    color: whitesmoke;
    opacity: 0.7;
    font-size: 20px;
    -webkit-animation: rightToLeft 7s linear infinite;
            animation: rightToLeft 7s linear infinite;
}

p:nth-child(odd){
    -webkit-animation: rightToLeft 5s linear infinite;
            animation: rightToLeft 5s linear infinite;
    opacity: 1;
}



@-webkit-keyframes rightToLeft {
    0% {
      -webkit-transform: translateX(90vw);
              transform: translateX(90vw);
    }
    20% {
      -webkit-transform: translateX(10vw);
              transform: translateX(10vw);
    }
    80%{
        -webkit-transform: translateX(-10vw);
                transform: translateX(-10vw);
    }
    100%{
        -webkit-transform: translateX(-90vw);
                transform: translateX(-90vw);
    }
  }



@keyframes rightToLeft {
    0% {
      -webkit-transform: translateX(90vw);
              transform: translateX(90vw);
    }
    20% {
      -webkit-transform: translateX(10vw);
              transform: translateX(10vw);
    }
    80%{
        -webkit-transform: translateX(-10vw);
                transform: translateX(-10vw);
    }
    100%{
        -webkit-transform: translateX(-90vw);
                transform: translateX(-90vw);
    }
  }