*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
    box-shadow: 0px 0px 10px 5px #003f69;
    border-radius: 20px;
    max-width: 700px;
    width: 80vw;
    height: 60vh;
    
    padding: 10px 0px;
    overflow: hidden;
}

.heading {
    color: whitesmoke;
}

.heading span {
    color: #fdb44b;
}

.seperator{
    width: 100%;
    border-bottom: #fdb44b 2px solid;
}

p{
    margin-top: 30px;
    color: whitesmoke;
    opacity: 0.8;
}

.mail-us-button{
    transition: all 0.3s ease 0s;
    padding: 9px 25px;
    background-color: #00204a;
    color: #fdb44b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 30px;
    text-decoration: none;
 }

.mail-us-button:hover {
    background-color: #003479;
 }