<div class="container">
    <div class="display">
        <div class="option-row">
            <a class="back" routerLink="/profile/portfolios"><i class="bi-arrow-left"></i></a>
            <div class="right-pack">
                <a class="options" [routerLink]="['/profile/portfolios', portfolioName, 'settings']"><i class="bi-gear"></i></a>
                <a class="delete" (click)="deletePortfolio()" ><i class="bi-trash"></i></a>
            </div>
        </div>
        
        <h2 class="portfolio-name">{{ this.portfolioName }}</h2>

        <div class="main-performance">
            <i class="bi-zoom-in" [routerLink]="['/profile/portfolios', portfolioName, 'main-chart']"></i>
            <p id="error">no chart yet</p>
            <canvas  class="main-chart" id = "main"></canvas>
        </div>

        <div class="balance-container">
            <p class="balance">balance: <span>{{ this.in_cash }}$</span></p>
        </div>

       
        <div class="positions">
            <div class="all-positions-row">
                <h3 class="all-positions-header">All positions</h3>
                <h4 [class.negative-number] = "this.overall_performance < 0" class="overall-performance">{{ this.overall_performance }}%</h4>
            </div>
            <div class="position" *ngFor="let position of this.positions">
                <p class="position-symbol">{{ position["stock_symbol"]}}</p>
                <div [class.negative-number] = "position['performanceSinceBuy'] < 0">
                    <p class="position-performance">{{ position["performanceSinceBuy"]}}%</p>
                </div>
                <p class="position-buydate">{{ position["buy_datetime"] }}</p>
                <i (click)="deleteStock(position)" class="remove-stock bi bi-trash"></i>
            </div>
        </div>

        <button [routerLink]="['/profile/portfolios', portfolioName, 'add-stock']" class="add-stock-button" type="button">Add stock</button>
    </div>
</div>