
*{
    padding: 0;
    margin: 0;
}

.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.title {
    color: whitesmoke;
    margin-top: 20px;
}
.title span {
    color: #fdb44b;
}

.portfolio-container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 70vw;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    opacity: 0;
    -webkit-animation: fadeIn 0.5s ease-in-out;
            animation: fadeIn 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
}
.portfolio-container::-webkit-scrollbar { 
    display: none;  
}

.portfolio{
    margin: 10px auto;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 5px #003f69;
            box-shadow: 0px 0px 10px 5px #003f69;
    border-radius: 20px;
    width: 200px;
}

.portfolio:hover {
    -webkit-box-shadow: 0px 0px 10px 3px #fdb44b;
            box-shadow: 0px 0px 10px 3px #fdb44b;
    -webkit-transition: -webkit-box-shadow 500ms linear;
    transition: -webkit-box-shadow 500ms linear;
    -o-transition: box-shadow 500ms linear;
    transition: box-shadow 500ms linear;
    transition: box-shadow 500ms linear, -webkit-box-shadow 500ms linear;
}

a, a:visited{
    text-decoration: none;
    color: whitesmoke;
}

a:hover .portfolio-name {
    background: -webkit-gradient(linear, left top, right top, from(whitesmoke), color-stop(50%, whitesmoke), color-stop(50%, #fdb44b), to(#fdb44b));
    background: -o-linear-gradient(left, whitesmoke 0%, whitesmoke 50%, #fdb44b 50%, #fdb44b 100%);
    background: linear-gradient(to right, whitesmoke 0%, whitesmoke 50%, #fdb44b 50%, #fdb44b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.user {
    display: inline-block;
    position: relative;
    color: whitesmoke;
    opacity: 0.8;
    cursor: pointer;
  }

.user::after {
    content: '';
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fdb44b;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    -o-transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.user:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
}

.seperator{
    width: 100%;
    border-bottom: #fdb44b 2px solid;
}

.positions {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: whitesmoke;
    opacity: 0.8;
}

.performance {
    color: rgb(63, 162, 63);
    margin-top: 5px;
}

.voting-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 5px;
}

.votes {
    color: whitesmoke;
    margin-top: 5px;
}

.bi {
    font-size: 18px;
    padding: 10px 10px;
    color: #fdb44b;
    background-color: #00204a;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    cursor: pointer;
}

.bi-hand-thumbs-down:hover {
    color: #7b0616;
}

.bi-hand-thumbs-up:hover {
    color: rgb(63, 162, 63);
}