<div class="container">
    <div class="register-block">
        <h2 class="heading"><span>welcome</span> home.</h2>
        <form class="formular" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
            <div class="input-container">
                <i class="bi bi-envelope"></i>
                <input type="text" placeholder="username" formControlName="username">
            </div>

            <div class="input-container">
                <i class="bi bi-key"></i>
                <input type="password" placeholder="password" formControlName="password">
            </div>
            
            <button class="login-button" type="submit">login.</button>
            <p id="error-message"></p>

        </form>
        <div class="links">
            <p><a routerLink="/register">im new here.</a></p>
            <p><a routerLink="/reset-password">forgot password.</a></p>
        </div>
    </div>
</div>