<div class="container">
    <div class="register-block">
        <h2 class="heading">forgot <span>password?</span></h2>
        <form class="formular" [formGroup]="formGroup" (ngSubmit)="resetProcess()">
            <div class="input-container">
                <i class="bi bi-envelope"></i>
                <input type="email" formControlName="email" placeholder="email">
            </div>

            <button class="create-account-button" type="submit">reset password.</button>
        </form>
        <p id="error-message"></p>
        <div class="links">
            <p><a routerLink="/sign-in">already a user.</a></p>
            <p><a routerLink="/reset-password">forgot password.</a></p>
        </div>
    </div>
</div>