<div class="wrapper">
  <div class="outside-container">
    <div class="container">
      <div class="static-txt txt">Welcome</div>
      <ul class="dynamic-txts txt">
        <li><span>To Stockanalysis.</span></li>
        <li><span>To Clarity.</span></li>
        <li><span>To The Future.</span></li>
        <li><span>Home.</span></li>
      </ul>
    </div>
    <div class="mobile-container">
      <p>Welcome to<span> Stock-Analysis.</span></p>
    </div>
  </div>
  <button class="start-button" type="button" routerLink="/register">
    Join now.
  </button>
</div>
