<div class="wrapper">
  <div class="outside-container">
      <div class="container">
          <div class="static-txt txt">Welcome </div>
          <ul class="dynamic-txts txt">
            <li><span>to Stockanalyzing.</span></li>
            <li><span>to Clarity.</span></li>
            <li><span>to the future.</span></li>
            <li><span>Home.</span></li>
          </ul>
        </div>
  </div>
  <button class="start-button" type="button" routerLink="/register">Join now.</button>
</div>