*{
    margin: 0;
    padding: 0;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.display {
    margin-top: 40px;
    -webkit-box-shadow: 0px 0px 10px 5px #003f69;
            box-shadow: 0px 0px 10px 5px #003f69;
    border-radius: 20px;
    max-width: 500px;
    width: 80vw;
    height: 52.3vh;
    max-height: 65vh;
    overflow-y: auto;
    padding: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    position: relative;
}

.back {
    position: absolute;
    top: 5px;
    left: 30px;
    font-size: 20px;
    padding: 3px 10px;
    color: #fdb44b;
    background-color: #00204a;
    border-radius: 15px;
    margin-top: 10px;
    -webkit-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}

.back:hover {
    background-color: #003479;
}

.header {
    color: whitesmoke;
    
}

.header span {
    color: #fdb44b;
    display: inline-block;
    -webkit-animation: spin 8s linear infinite 4s;
            animation: spin 8s linear infinite 4s;
}

.input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0px;
}

.bi {
    font-size: 15px;
    padding: 15px 15px;
    color: #fdb44b;
    background-color: #00204a;
    border-radius: 15px 0px 0px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.line {
    margin: 10px 0px;
    width: 100%;
    border-bottom: #fdb44b 2px solid;
}

input {
    padding: 5px 20px;
    background-color: #005792;
    color: whitesmoke;
    border: 3px #00204a solid;
    border-radius: 0px 15px 15px 0px;
}

.public-check{
    color: whitesmoke;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.public-check input{
    width: 40px;
    border-radius: 50%;
}

.public-button{
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 9px 25px;
    background-color: #00204a;
    color: whitesmoke;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
 }

.public-button:hover {
    background-color: #003479;
 }

#error-message{
    margin-top: 10px;
    color: whitesmoke;
}