* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;

}

.heading {
    color: whitesmoke;
}

.heading span {
    color: #fdb44b;
}

.register-block {
    margin-top: 40px;
    box-shadow: 0px 0px 10px 5px #003f69;
    border-radius: 20px;
    max-width: 500px;
    min-width: 400px;
    width: 80vw;
    height: 60vh;
    
    padding: 10px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-account-button{
    transition: all 0.3s ease 0s;
    padding: 9px 25px;
    background-color: #00204a;
    color: #fdb44b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
 }

.create-account-button:hover {
    background-color: #003479;
 }

.links {
    position: absolute;
    display: flex;
    bottom: 20px;
}

.links p a{
    text-decoration: none;
    color: whitesmoke;
    opacity: 0.8;
    cursor: pointer;
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
}

.links p a:hover {
    opacity: 1;
}

.input-container {
    display: flex;
    padding: 10px 0px;
}

.input-container input {
    padding: 10px 35px;
    background-color: #005792;
    color: whitesmoke;
    border: 3px #00204a solid;
    border-radius: 0px 15px 15px 0px;
}

.formular {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bi {
    padding: 20px 15px;
    color: #fdb44b;
    background-color: #00204a;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-self: center;
}

.error-message{
    margin-top: 20px;
    color: whitesmoke;
}

