<div class="container">
    <div class="register-block">
        <h2 class="heading"><span>new</span> password.</h2>
        <form class="formular" [formGroup]="formGroup" (ngSubmit)="resetProcess()">
            <div class="input-container">
                <i class="bi bi-envelope"></i>
                <input type="password" placeholder="new password" formControlName="password">
            </div>

            <div class="input-container">
                <i class="bi bi-key"></i>
                <input type="password" placeholder="repeat new password" formControlName="passwordRepeat">
            </div>
            
            <button clas="submit-button" type="submit">set new password.</button>
            <p id="error-message"></p>

        </form>
    </div>
</div>