*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.display {
    margin-top: 40px;
    box-shadow: 0px 0px 10px 5px #003f69;
    border-radius: 20px;
    max-width: 500px;
    width: 80vw;
    max-height: 65vh;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.username{
    background: linear-gradient(to right, whitesmoke 0%, whitesmoke 50%, #fdb44b 50%, #fdb44b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.member-since{
    color: whitesmoke;
    opacity: 0.7;
}

.public-portfolio-block{
    margin-top: 30px;
}

.public-portfolio-block .portfolio{
    box-shadow: 0px 0px 10px 5px #003f69;
    margin-top: 10px;
    border-radius: 20px;
    color: whitesmoke;
    opacity: 0.9;
}

.portfolios-header{
    color: #fdb44b;
}