<div class="container">
    <div class="display">
        <h1 class="username">{{this.username}}</h1>
        <h3 class="member-since">member since {{this.memberSince}}</h3>
        <div class="verify-email-container" *ngIf="!isVerified">
            <h4 id="email-verified">your email is not verified. please open your email-box and click on the provided link. </h4>
            <button class="resend-email-button" (click)="this.getNewVerificationEmail()" type="button">resend email</button>
        </div>
        


        <div class="public-portfolio-block">
            <h3 class="portfolios-header">public portfolios:</h3>
            <div class="portfolios" *ngIf="this.publicPortfolios">
                <div class="portfolio" *ngFor="let portfolio of this.publicPortfolios" [routerLink]='portfolio["portfolio_name"]'>
                    <h3 class="portfolio-name">{{ portfolio["portfolio_name"] }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>