<div class="container">
    <div class="display">

        <div class="option-row">
            <a class="back" routerLink="/community/featured-portfolios"><i class="bi-arrow-left"></i></a>
            <a class="report" (click)="report()"><i class="bi-flag"></i></a>
        </div>

        <h1 class="username">{{this.username}}</h1>
        <h3 class="member-since">member since {{this.memberSince}}</h3>
        <h3 class="reputation">reputation: {{this.reputation}}</h3>

        <div class="public-portfolio-block">
            <h3 class="portfolios-header">public portfolios:</h3>
            <div class="portfolios" *ngIf="this.publicPortfolios">
                <div class="portfolio" *ngFor="let portfolio of this.publicPortfolios" [routerLink]='portfolio["portfolio_name"]'>
                    <h3 class="portfolio-name" [routerLink]="['/community/featured-portfolios', this.username, portfolio['id']]">{{ portfolio["portfolio_name"] }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>