*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.display {
    margin-top: 40px;
    box-shadow: 0px 0px 10px 5px #003f69;
    border-radius: 20px;
    max-width: 500px;
    width: 80vw;
    max-height: 65vh;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.option-row {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between; 
    align-items: center;
    padding: 5px 0px;
}

.back {
    font-size: 20px;
    padding: 3px 10px;
    color: #fdb44b;
    background-color: #00204a;
    border-radius: 15px;
    margin-left: 30px;   
    transition: all ease-in-out 0.2s;
}

.back:hover {
    background-color: #003479;
}

.report{
    font-size: 20px;
    padding: 3px 10px;
    color: whitesmoke;
    background-color: #7b0616;
    border-radius: 15px;
    margin-right: 30px;   
    transition: all ease-in-out 0.2s;
}

.report:hover {
    background-color: #b5061d
}

.username{
    margin-top: -20px;
    background: linear-gradient(to right, whitesmoke 0%, whitesmoke 50%, #fdb44b 50%, #fdb44b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.member-since{
    color: whitesmoke;
    opacity: 0.7;
}

.reputation {
    color: whitesmoke;
    opacity: 0.7;
}

.public-portfolio-block{
    margin-top: 30px;
}

.public-portfolio-block .portfolio{
    box-shadow: 0px 0px 10px 5px #003f69;
    margin-top: 10px;
    border-radius: 20px;
    color: whitesmoke;
    opacity: 0.9;
    cursor: pointer;
    transition: 0.2s linear;
}

.public-portfolio-block .portfolio:hover{
    box-shadow: 0px 0px 10px 3px #fdb44b;
}

.portfolios-header{
    color: #fdb44b;
}

